@import 'styles/global.scss';

.item-nav {
  background: rgba(245,245,247,0.6);
  padding-bottom: 10px;

  &__items {
    @include flex(center, center);
    align-items: baseline;
    overflow-x: auto;
    padding: 10px 0;

    /* width */
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
