@import 'styles/global.scss';

.item {
  padding: 0 10px;
  list-style-type: none;

  @include md {
    padding: 0 20px;
  }

  &__icon {
    height: 54px;
  }

  &__label {
    @include itemLabel;
    min-width: 100px;
  }
}
