@import 'styles/global.scss';

.hero {
  padding: 55px 0 110px 0;

  &__wrapper {
    text-align: center;
  }

  &__new {
    font-size: 17px;
    color: #f56300;
    font-style: text;
    line-height: 1.47059;
  }

  &__heading {
    font-size: 32px;
    line-height: 1.07143;
  }

  &__hello {
    margin: 8px 0 6px 0;
  }

  &__buy {
    background: #0071e3;
    padding: 8px 16px;
    border-radius: 980px;
    color: $white-50;
    border: none;
    font-size: 17px;
    margin: 8px 0 14px 0;
  }

  &__learn-more {
    color: #06c;
  }

  .mac__image {
    width: 322px;
    height: 472px;
    margin: 24px auto 0 auto;
    background-image: url('/assets/images/hero_imac_24__small.jpg');
    background-position: center;
    background-size: cover;
  }
}
