
// Blacks
$black-50: #1d1d1f;
$black-100: #333333;
$black-200: #515154;

// Whites
$white-50: #f5f5f7;
$white-100: #fafafa;
$white-200: #d2d2d7;
$white-300: #86868b;

// Blues
$blue-50: #0071e3;
$blue-100: #06c;

//Reds
$red-50: #f56300;
