@import './mixins.scss';
@import './breakpoints.scss';
@import './colors.scss';
@import './typography.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: $sfPro;
  color: $black-50;
  @include fontWeight(500);
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

span {
  display: block;
}
