@import './mixins.scss';
@import './breakpoints.scss';
@import './colors.scss';
@import './typography.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $sfPro;
  color: $black-50;
}

a {
  text-decoration: none;
  color: inherit;
}
