@import 'styles/global.scss';

.hero {
  padding: 55px 0 110px 0;

  &__wrapper {
    text-align: center;
  }

  &__new {
    font-size: 17px;
    color: $red-50;
    font-style: text;
    line-height: 1.47059;
  }

  &__heading {
    font-size: 32px;
    line-height: 1.07143;
    font-weight: 400;
    letter-spacing: -3px;

    @include md {
      font-size: 40px;
    }

    @include lg {
      font-size: 56px;
    }
  }

  &__hello {
    margin: 8px 0 6px 0;
    font-size: 21px;
  }

  &__price {
    font-size: 17px;
  }

  &__learn-more {
    font-size: 17px;
    color: $blue-100;
    line-height: 1.47059;
  }

  .hero__image {
    width: 322px;
    height: 472px;
    margin: 20px auto 0 auto;
    background-image: url('/assets/images/hero_imac_24__small.jpg');
    background-position: center;
    background-size: cover;

    @include md {
      background-image: url('/assets/images/hero_imac_24__large.jpg');
      width: 738px;
      height: 308px;
      margin-top: 27px
    }

    @include lg {
      width: 1070px;
      height: 446px;
      margin-top: 32px;
    }
  }
}

.cta {
  @include buyButton
}

.what-makes {
  padding-top: 50px;
  text-align: center;

  @include md {
    padding-top: 93px;
  }

  @include lg {
    padding-top: 150px;
  }

  &__heading {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.125;
    letter-spacing: -1px;

    @include md {
      font-size: 56px;
    }

    @include lg {
      font-size: 64px;
    }
  }

  &__grid {
    margin-top: 44px;

    @include lg {
      margin-top: 80px;
    }

    .tile {
      margin-bottom: 15px;

      &:not(.tile-2) {
        padding-top: 45px;
        background: $white-100;
      }

      &:nth-child(2) {
        background-image: url('/assets/images/big-sur.jpg');
        background-position: center;
        background-size: 734px 550px;
        background-repeat: no-repeat;
        color: $white-50;
        height: 550px;
      }

      &__heading {
        font-size: 21px;
        margin-bottom: 8.4px;

        @include lg {
          font-size: 24px;
        }
      }

      &__promo {
        line-height: 1.125;
        font-size: 32px;
      }
    }
  }
}
