@import '../../styles/global.scss';


.navbar {
  background: #333333;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include sm {
    height: 44px;
  }

  &__logo {
    color: $white-50;
    transition: 0.3s ease-in-out;
    &:hover {
      color: $white-100;
    }
  }
}
