@import '../../styles/global.scss';


.navbar {
  background: #333333;
  height: 48px;
  padding: 0 5%;
  position: sticky;
  top: 0;
  @include flex(space-between, center);

  @include md {
    height: 44px;
  }

  &__logo {
    color: $white-50;
    transition: 0.1s ease-in-out;

    &:hover {
      color: $white-100;
    }
  }
}
