.product-bar {
  height: 100px;
  background: rgba(245,245,247,0.6);
  padding: 8px 4px;

  &__wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: baseline;

    .product {
      margin: 0 10px;
      list-style-type: none;
      text-align: center;

      &__icon {
        width: 50px;
      }
    }
  }
}
